.elementor-1186 .elementor-element.elementor-element-065a1a4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu-container {
    background-color: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu-container .eael-simple-menu.eael-simple-menu-horizontal {
    background-color: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu>li>a,
.eael-simple-menu-container .eael-simple-menu-toggle-text {
    font-family: "Bada", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li>a {
    color: var(--e-global-color-8a5a64a);
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li>a>span svg {
    fill: var(--e-global-color-8a5a64a);
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu-toggle-text {
    color: var(--e-global-color-8a5a64a);
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li a span,
.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li span.eael-simple-menu-indicator {
    font-size: 15px;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li a span,
.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li span.eael-simple-menu-indicator i {
    font-size: 15px;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li span.eael-simple-menu-indicator svg {
    width: 15px;
    height: 15px;
    line-height: 15px;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li span svg {
    width: 15px;
    height: 15px;
    line-height: 15px;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li:hover>a {
    color: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li:hover>a>span svg {
    fill: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li .eael-simple-menu-indicator:hover:before {
    color: #f44336;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li .eael-simple-menu-indicator:hover i {
    color: #f44336;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li .eael-simple-menu-indicator:hover svg {
    fill: #f44336;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li .eael-simple-menu-indicator:hover {
    background-color: #ffffff;
    border-color: #f44336;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li>a.eael-item-active {
    color: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li.current-menu-item>a>span svg {
    fill: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li.current-menu-item>a.eael-item-active {
    color: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li.current-menu-ancestor>a.eael-item-active {
    color: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li .eael-simple-menu-indicator.eael-simple-menu-indicator-open:before {
    color: #f44336 !important;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li .eael-simple-menu-indicator.eael-simple-menu-indicator-open svg {
    fill: #f44336 !important;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li .eael-simple-menu-indicator.eael-simple-menu-indicator-open i {
    color: #f44336 !important;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li .eael-simple-menu-indicator.eael-simple-menu-indicator-open {
    background-color: #ffffff !important;
    border-color: #f44336 !important;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu-container .eael-simple-menu-toggle {
    background-color: #6A3AB2;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu-container .eael-simple-menu-toggle i {
    font-size: 21px;
    color: #ffffff;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu-container .eael-simple-menu-toggle svg {
    width: 21px;
    fill: #ffffff;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu.eael-simple-menu-responsive li>a {
    color: #06070E;
    background-color: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu.eael-simple-menu-responsive li>a>span svg {
    fill: #06070E;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu.eael-simple-menu-responsive li:hover>a {
    color: var(--e-global-color-astglobalcolor5);
    background-color: var(--e-global-color-7d7404b);
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu.eael-simple-menu-responsive li:hover>a>span svg {
    fill: var(--e-global-color-astglobalcolor5);
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu.eael-simple-menu-responsive .eael-simple-menu-indicator {
    top: 0px;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu.eael-simple-menu-horizontal li ul li a {
    padding-left: 20px;
    padding-right: 20px;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu.eael-simple-menu-horizontal li ul li>a {
    border-bottom: 1px solid #f2f2f2;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu.eael-simple-menu-vertical li ul li>a {
    border-bottom: 1px solid #f2f2f2;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li ul li>a {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li ul li a span {
    font-size: 12px;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li ul li span.eael-simple-menu-indicator {
    font-size: 12px;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li ul li span.eael-simple-menu-indicator i {
    font-size: 12px;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li ul li .eael-simple-menu-indicator svg {
    width: 12px;
    height: 12px;
    line-height: 12px;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li ul li .eael-simple-menu-indicator:hover:before {
    color: #f44336 !important;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li ul li .eael-simple-menu-indicator.eael-simple-menu-indicator-open:before {
    color: #f44336 !important;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li ul li .eael-simple-menu-indicator:hover {
    background-color: #ffffff !important;
    border-color: #f44336 !important;
}

.elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu li ul li .eael-simple-menu-indicator.eael-simple-menu-indicator-open {
    background-color: #ffffff !important;
    border-color: #f44336 !important;
}

.elementor-1186 .elementor-element.elementor-element-8o0g2rt>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1186 .elementor-element.elementor-element-8o0g2rt:not(.elementor-motion-effects-element-type-background),
.elementor-1186 .elementor-element.elementor-element-8o0g2rt>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-7d7404b);
}

.elementor-1186 .elementor-element.elementor-element-8o0g2rt>.elementor-background-overlay {
    background-image: url("");
    background-size: cover;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1186 .elementor-element.elementor-element-8o0g2rt {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 0px 0px;
}

.elementor-1186 .elementor-element.elementor-element-fc55efe>.elementor-element-populated {
    margin: 0px 0px 0px 50px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 50px;
}

.elementor-1186 .elementor-element.elementor-element-f07ba44 {
    text-align: center;
}

.elementor-1186 .elementor-element.elementor-element-f07ba44 .elementor-heading-title {
    color: var(--e-global-color-astglobalcolor5);
    font-family: "Bada", Sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 32px;
}

.elementor-1186 .elementor-element.elementor-element-f07ba44>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1186 .elementor-element.elementor-element-f7c5bd7 {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-1186 .elementor-element.elementor-element-f7c5bd7 .elementor-widget-container {
    text-align: center;
}

.elementor-1186 .elementor-element.elementor-element-a336775 {
    text-align: center;
    color: var(--e-global-color-astglobalcolor5);
    font-family: var(--e-global-typography-3cdbc2f-font-family), Sans-serif;
    font-size: var(--e-global-typography-3cdbc2f-font-size);
    font-weight: var(--e-global-typography-3cdbc2f-font-weight);
    line-height: var(--e-global-typography-3cdbc2f-line-height);
    letter-spacing: var(--e-global-typography-3cdbc2f-letter-spacing);
    word-spacing: var(--e-global-typography-3cdbc2f-word-spacing);
}

.elementor-1186 .elementor-element.elementor-element-a336775>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-1186 .elementor-element.elementor-element-e704196 .elementor-button {
    font-family: "Preahvihear", Sans-serif;
    font-size: 10px;
    font-weight: 400;
    fill: var(--e-global-color-8a5a64a);
    color: var(--e-global-color-8a5a64a);
    background-color: var(--e-global-color-astglobalcolor5);
}

.elementor-1186 .elementor-element.elementor-element-e704196>.elementor-widget-container {
    margin: 020px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-1186 .elementor-element.elementor-element-27a2e6f.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-1186 .elementor-element.elementor-element-27a2e6f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-1186 .elementor-element.elementor-element-27a2e6f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1186 .elementor-element.elementor-element-27a2e6f>.elementor-element-populated {
    margin: 0px 50px 0px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
}

.elementor-1186 .elementor-element.elementor-element-2d03d06 {
    text-align: center;
}

.elementor-1186 .elementor-element.elementor-element-2d03d06 img {
    width: 100%;
}

.elementor-1186 .elementor-element.elementor-element-2d03d06.elementor-element {
    --align-self: flex-end;
}

.elementor-1186 .elementor-element.elementor-element-0yrrvfv>.elementor-background-overlay {
    background-image: url("/wp-content/uploads/2024/06/3.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 21% auto;
    opacity: 0.5;
}

.elementor-1186 .elementor-element.elementor-element-0yrrvfv {
    padding: 100px 0px 100px 0px;
}

.elementor-1186 .elementor-element.elementor-element-a9cf8b5 {
    text-align: left;
}

.elementor-1186 .elementor-element.elementor-element-a9cf8b5 .elementor-heading-title {
    color: var(--e-global-color-8a5a64a);
    font-family: "Bada", Sans-serif;
    font-size: 44px;
    font-weight: 400;
}

.elementor-1186 .elementor-element.elementor-element-a9cf8b5>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-1186 .elementor-element.elementor-element-a139e55 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-1186 .elementor-element.elementor-element-a139e55 .elementor-divider-separator {
    width: 100px;
}

.elementor-1186 .elementor-element.elementor-element-002e0b6 {
    text-align: left;
    color: var(--e-global-color-8a5a64a);
    font-family: "Preahvihear", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-1186 .elementor-element.elementor-element-d6c7b31 {
    text-align: left;
    color: var(--e-global-color-8a5a64a);
    font-family: var(--e-global-typography-3cdbc2f-font-family), Sans-serif;
    font-size: var(--e-global-typography-3cdbc2f-font-size);
    font-weight: var(--e-global-typography-3cdbc2f-font-weight);
    line-height: var(--e-global-typography-3cdbc2f-line-height);
    letter-spacing: var(--e-global-typography-3cdbc2f-letter-spacing);
    word-spacing: var(--e-global-typography-3cdbc2f-word-spacing);
}

.elementor-1186 .elementor-element.elementor-element-d6c7b31>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-1186 .elementor-element.elementor-element-15d69e9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1186 .elementor-element.elementor-element-15d69e9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1186 .elementor-element.elementor-element-4d32f93 .elementor-button {
    font-family: "Preahvihear", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    fill: var(--e-global-color-astglobalcolor5);
    color: var(--e-global-color-astglobalcolor5);
    background-color: var(--e-global-color-7d7404b);
}

.elementor-1186 .elementor-element.elementor-element-4d32f93>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1186 .elementor-element.elementor-element-jmbt4o6:not(.elementor-motion-effects-element-type-background),
.elementor-1186 .elementor-element.elementor-element-jmbt4o6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5F5F5;
    background-image: url("/wp-content/uploads/2024/06/51.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 21% auto;
}

.elementor-1186 .elementor-element.elementor-element-jmbt4o6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-1186 .elementor-element.elementor-element-jmbt4o6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1186 .elementor-element.elementor-element-af7f48b {
    text-align: center;
}

.elementor-1186 .elementor-element.elementor-element-af7f48b .elementor-heading-title {
    color: var(--e-global-color-8a5a64a);
    font-family: "Bada", Sans-serif;
    font-size: 44px;
    font-weight: 400;
}

.elementor-1186 .elementor-element.elementor-element-af7f48b>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-1186 .elementor-element.elementor-element-c2df6a6 img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-6ff313d img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-fb2c798 img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-4c17a53 img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-0067ea6 img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-c032af4 img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-f6bc17a img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-1f0c19f img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-623ec3f img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-fd5c996 img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-3eba91f img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-066d5b7 img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-254e723 img {
    width: 90%;
}

.elementor-1186 .elementor-element.elementor-element-6c8f041:not(.elementor-motion-effects-element-type-background),
.elementor-1186 .elementor-element.elementor-element-6c8f041>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2024/06/5.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 18% auto;
}

.elementor-1186 .elementor-element.elementor-element-6c8f041>.elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1186 .elementor-element.elementor-element-6c8f041 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-1186 .elementor-element.elementor-element-f1e0e15 {
    text-align: left;
}

.elementor-1186 .elementor-element.elementor-element-f1e0e15 .elementor-heading-title {
    color: var(--e-global-color-8a5a64a);
    font-family: "Bada", Sans-serif;
    font-size: 44px;
    font-weight: 400;
}

.elementor-1186 .elementor-element.elementor-element-f1e0e15>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-1186 .elementor-element.elementor-element-2fe181d {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-1186 .elementor-element.elementor-element-2fe181d .elementor-divider-separator {
    width: 100px;
}

.elementor-1186 .elementor-element.elementor-element-1447579 {
    text-align: left;
    color: var(--e-global-color-8a5a64a);
    font-family: "Preahvihear", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-1186 .elementor-element.elementor-element-77b93a9 {
    text-align: left;
    color: var(--e-global-color-8a5a64a);
    font-family: var(--e-global-typography-3cdbc2f-font-family), Sans-serif;
    font-size: var(--e-global-typography-3cdbc2f-font-size);
    font-weight: var(--e-global-typography-3cdbc2f-font-weight);
    line-height: var(--e-global-typography-3cdbc2f-line-height);
    letter-spacing: var(--e-global-typography-3cdbc2f-letter-spacing);
    word-spacing: var(--e-global-typography-3cdbc2f-word-spacing);
}

.elementor-1186 .elementor-element.elementor-element-77b93a9>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-1186 .elementor-element.elementor-element-f924693.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1186 .elementor-element.elementor-element-f924693.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1186 .elementor-element.elementor-element-9818ffb {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-1186 .elementor-element.elementor-element-9818ffb .elementor-widget-container {
    text-align: center;
}

.elementor-1186 .elementor-element.elementor-element-05c015d .elementor-button {
    font-family: "Preahvihear", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    fill: var(--e-global-color-astglobalcolor5);
    color: var(--e-global-color-astglobalcolor5);
    background-color: var(--e-global-color-7d7404b);
}

.elementor-1186 .elementor-element.elementor-element-05c015d>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-1186 .elementor-element.elementor-element-15d69e9 {
        width: 56.194%;
    }

    .elementor-1186 .elementor-element.elementor-element-e5e7316 {
        width: 10%;
    }

    .elementor-1186 .elementor-element.elementor-element-f924693 {
        width: 56.194%;
    }

    .elementor-1186 .elementor-element.elementor-element-32e17cf {
        width: 10%;
    }
}

@media(max-width:1024px) {
    .elementor-1186 .elementor-element.elementor-element-8o0g2rt {
        padding: 50px 35px 50px 35px;
    }

    .elementor-1186 .elementor-element.elementor-element-fc55efe>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-a336775 {
        font-size: var(--e-global-typography-3cdbc2f-font-size);
        line-height: var(--e-global-typography-3cdbc2f-line-height);
        letter-spacing: var(--e-global-typography-3cdbc2f-letter-spacing);
        word-spacing: var(--e-global-typography-3cdbc2f-word-spacing);
    }

    .elementor-1186 .elementor-element.elementor-element-a336775>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-e704196>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-2d03d06>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-0yrrvfv {
        padding: 50px 50px 50px 50px;
    }

    .elementor-1186 .elementor-element.elementor-element-a9cf8b5>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-d6c7b31 {
        font-size: var(--e-global-typography-3cdbc2f-font-size);
        line-height: var(--e-global-typography-3cdbc2f-line-height);
        letter-spacing: var(--e-global-typography-3cdbc2f-letter-spacing);
        word-spacing: var(--e-global-typography-3cdbc2f-word-spacing);
    }

    .elementor-1186 .elementor-element.elementor-element-d6c7b31>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-4d32f93>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-jmbt4o6 {
        padding: 80px 40px 80px 40px;
    }

    .elementor-1186 .elementor-element.elementor-element-af7f48b>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-6c8f041 {
        padding: 50px 50px 50px 50px;
    }

    .elementor-1186 .elementor-element.elementor-element-f1e0e15>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-77b93a9 {
        font-size: var(--e-global-typography-3cdbc2f-font-size);
        line-height: var(--e-global-typography-3cdbc2f-line-height);
        letter-spacing: var(--e-global-typography-3cdbc2f-letter-spacing);
        word-spacing: var(--e-global-typography-3cdbc2f-word-spacing);
    }

    .elementor-1186 .elementor-element.elementor-element-77b93a9>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-1186 .elementor-element.elementor-element-7339204 .eael-simple-menu-container.eael-simple-menu-hamburger {
        min-height: 39px;
    }

    .elementor-1186 .elementor-element.elementor-element-8o0g2rt {
        padding: 50px 25px 0px 25px;
    }

    .elementor-1186 .elementor-element.elementor-element-fc55efe>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-f07ba44 .elementor-heading-title {
        font-size: 45px;
        line-height: 3.5rem;
    }

    .elementor-1186 .elementor-element.elementor-element-a336775 {
        font-size: var(--e-global-typography-3cdbc2f-font-size);
        line-height: var(--e-global-typography-3cdbc2f-line-height);
        letter-spacing: var(--e-global-typography-3cdbc2f-letter-spacing);
        word-spacing: var(--e-global-typography-3cdbc2f-word-spacing);
    }

    .elementor-1186 .elementor-element.elementor-element-27a2e6f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-2d03d06>.elementor-widget-container {
        padding: 50px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-0yrrvfv>.elementor-background-overlay {
        background-position: top right;
        opacity: 1;
    }

    .elementor-1186 .elementor-element.elementor-element-0yrrvfv {
        padding: 60px 30px 60px 30px;
    }

    .elementor-1186 .elementor-element.elementor-element-a9cf8b5 {
        text-align: center;
    }

    .elementor-1186 .elementor-element.elementor-element-a9cf8b5 .elementor-heading-title {
        font-size: 33px;
    }

    .elementor-1186 .elementor-element.elementor-element-a139e55 .elementor-divider {
        text-align: center;
    }

    .elementor-1186 .elementor-element.elementor-element-a139e55 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-1186 .elementor-element.elementor-element-002e0b6 {
        text-align: center;
    }

    .elementor-1186 .elementor-element.elementor-element-002e0b6>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-d6c7b31 {
        text-align: center;
        font-size: var(--e-global-typography-3cdbc2f-font-size);
        line-height: var(--e-global-typography-3cdbc2f-line-height);
        letter-spacing: var(--e-global-typography-3cdbc2f-letter-spacing);
        word-spacing: var(--e-global-typography-3cdbc2f-word-spacing);
    }

    .elementor-1186 .elementor-element.elementor-element-15d69e9>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-jmbt4o6:not(.elementor-motion-effects-element-type-background),
    .elementor-1186 .elementor-element.elementor-element-jmbt4o6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: 77px auto;
    }

    .elementor-1186 .elementor-element.elementor-element-jmbt4o6 {
        padding: 60px 25px 60px 25px;
    }

    .elementor-1186 .elementor-element.elementor-element-af7f48b .elementor-heading-title {
        font-size: 33px;
    }

    .elementor-1186 .elementor-element.elementor-element-05fc16b {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-428c9b0 {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-559e46f {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-2c0b4b0 {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-78eaa9e {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-64e62a3 {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-e454808 {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-1207ba0 {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-c7690df {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-28d3911 {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-38abb1d {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-8157330 {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-250c74c {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-41c15a8 {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-369f30d {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-91dddd1 {
        width: 50%;
    }

    .elementor-1186 .elementor-element.elementor-element-6c8f041 {
        padding: 60px 30px 60px 30px;
    }

    .elementor-1186 .elementor-element.elementor-element-f1e0e15 {
        text-align: center;
    }

    .elementor-1186 .elementor-element.elementor-element-f1e0e15 .elementor-heading-title {
        font-size: 33px;
    }

    .elementor-1186 .elementor-element.elementor-element-2fe181d .elementor-divider {
        text-align: center;
    }

    .elementor-1186 .elementor-element.elementor-element-2fe181d .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-1186 .elementor-element.elementor-element-1447579 {
        text-align: center;
    }

    .elementor-1186 .elementor-element.elementor-element-1447579>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-77b93a9 {
        text-align: center;
        font-size: var(--e-global-typography-3cdbc2f-font-size);
        line-height: var(--e-global-typography-3cdbc2f-line-height);
        letter-spacing: var(--e-global-typography-3cdbc2f-letter-spacing);
        word-spacing: var(--e-global-typography-3cdbc2f-word-spacing);
    }

    .elementor-1186 .elementor-element.elementor-element-f924693>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1186 .elementor-element.elementor-element-ded2842 {
        width: 35%;
    }

    .elementor-1186 .elementor-element.elementor-element-15d69e9 {
        width: 65%;
    }

    .elementor-1186 .elementor-element.elementor-element-e5e7316 {
        width: 100%;
    }

    .elementor-1186 .elementor-element.elementor-element-35f8e41 {
        width: 35%;
    }

    .elementor-1186 .elementor-element.elementor-element-f924693 {
        width: 65%;
    }

    .elementor-1186 .elementor-element.elementor-element-32e17cf {
        width: 100%;
    }
}

@media(min-width:1025px) {
    .elementor-1186 .elementor-element.elementor-element-0yrrvfv>.elementor-background-overlay {
        background-attachment: fixed;
    }
}